
.main {
  
  display: grid;
  grid-template-columns:800px 500px;

  justify-content:center;
  align-items: center;
  margin-top: 40px;
  height: 200vh;

}

.side_right_video{

grid-area:1/2/1;
 margin:auto;
margin-top:185px;
margin-left: 50px;
width: 250px;
height: 900px;
overflow-y: scroll;
}

.popular {
display: flex;
flex-direction: column;
width: 200px;
height: 200px;



}

.player_popular{
width:200px;
height: 120px;
background-color: rgb(234, 234, 234);
margin:0;

margin-bottom: 15px;

}