.place_to_post {
  width: 100%;
  height: 100vh;
}

.main_post {
  width: 800px;
  height: 500px;
  opacity: 0;
  border-radius: 10px;
  background-color: rebeccapurple;
}

.entries_post {
  width: 800px;
  height: 320px;
  margin-top:25px;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  display: block;
}

img {
  width: 800px;
  height: 100%;
  border-radius: 3px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.2s;
  border-radius: 10px;
}


.one_entry {
  width: 800px;
  height: 50px;
  margin-bottom: 55px;  margin-top: 5px;
  display: flex;
  justify-content: start;
  justify-items: center;
  flex-direction: row;
  line-height: 32px;
}

.photos {
  width: 150px;
  height: 90px;
}

.header_entry {
  width: 800px;
  height: 90px;
  margin-left: 10px;
  backdrop-filter: blur(0.6px);
  background: rgb(255, 255, 255);
  font-size: 12px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(244, 244, 244);
  border-radius: 10px;
}

.title {
  width: 100%;
  height: 50px;
  position: relative;
  bottom: 50px;
  backdrop-filter: blur(0.6px);
  background: rgba(220, 219, 219, 0.17);
  text-decoration: none;
  font-size: 17px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(255, 255, 255);
  border-radius: 10px;
}

.title_text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  text-justify: inter-word;
  padding: 13px 12px 0;
  line-height: 155%;
  margin: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(2, 2, 2);
}

.title_text_main {
  text-align: justify;
  text-justify: inter-word;
  padding: 10px 12px 0;
  line-height: 135%;
  margin: 0;
  font-size: 16px;
}



.text {
  text-align: justify;
  width: 100%;
  text-indent: 35px;
  height: 40px;
  overflow: auto;
  font-size: 11px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




.ahref_counter_post {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:40px;
}

.ahref_counter_post li {
  margin: 0;
  letter-spacing: 15px;
}

.ahref_counter_post li a {
  text-decoration: none;
  font-size:20px;
text-align: center;
 
  
  color: black; /* Dodatkowy styl - możesz zmienić na dowolny kolor tekstu */


}



li a:hover{

color:rgb(22, 126, 181);
background-color: white;



}