/* Kontener z rekordami */
.post_memes_container {
  width: 910px;
  height: 965px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 50px;
  overflow-y: scroll;
}

/* Kontener dla pojedynczego postu */
.place_to_mems {
  width: 500px;
  height: auto;
  top: 0;
  box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.5);
  border-radius: 7px;
  margin-bottom: 33px;
}

.place_to_mems .picture_image > img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}