/* Kontener z rekordami */
.post_memes_container>.mems {
  width:700px;
  height: 965px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 150px;
  margin-left: 50px;
  overflow-y: scroll;
}

/* Kontener dla pojedynczego postu */
.place_to_mems {
  width: 700px;
  height: auto;
  top: 0;
  box-shadow: 2px 2px 2px rgba(5, 5, 5, 0.5);
  border-radius: 7px;
  margin-bottom: 33px;
}

.place_to_mems .picture_image > img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}


.paginator_mems{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: black;

  width: 810px;
 height: 20px;
 padding-top: 20px;
 
}


.paginator_mems li {
  margin: 0;
  letter-spacing: 15px;
}

.paginator_mems li a {
  text-decoration: none;
  font-size: 20px;
  text-align: center !important;
  color: rgb(0, 0, 0) !important;
}