.search_container {
  width: 100%;
  display: flex;
  justify-content: center; /* Wyśrodkowanie w poziomie */
  position: fixed;
  top:15px;
  margin: 0 -40px;
 }
 
 .common_element {
   display: flex;
   width: 300px;
 
 }
 
 .input_search {
   margin: 0 0 0 auto;
   justify-content: center; /* Wyśrodkowanie wzdłuż osi głównej */
   align-items: center;
   padding: 15px;
   width: 400px;
   height: 30px;
   border-radius: 50px;
   border: 2px solid rgb(255, 255, 255);
   background-color: rgba(141, 139, 139, 0.286);
   transition: width 0.5s;
 }
 
 i {
   position: relative;
   color: rgb(255, 255, 255);
   transition: 0.2s;
   left: 85%;
   top: -0.5px;
   z-index: 100;
   visibility: visible;
 }
 
 input[type="text"]:focus {
   background-color: rgb(109, 109, 109);
   color: white;
   outline: none;
 }