.player {
  width: 100%;
 
  }

  
.video_player {
  width: 800px;
  height: 500px;
}




.records_video {
  width: 800px !important;
  height: 390px;
  margin-top: 25px;
  overflow-y: scroll;
  margin-bottom: 55px;
}


video {
  width: 100%;
  border-radius: 10px;
  height: 500px;
  object-fit: fill;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  display: grid;
  gap: 5px;
  border: 1px;
}


.video_container {
  width:100%;
  height: 90px;
  margin-left: 0;
  margin-top: 5px;
  margin-bottom:40px;
  display: flex;
  flex-direction: row;
}

.video_list {
 
  width: 200px;
  height: 117px;

 
}

.title_text_video {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  line-height: 155%;
  margin: 0;
  font-size: 12px;
}

.paginator_video {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.paginator_video  li {
  margin: 0;
  letter-spacing: 15px;
}

.paginator_video  li a {
  text-decoration: none;
  font-size:20px;
text-align: center;
 
  
  color: black; /* Dodatkowy styl - możesz zmienić na dowolny kolor tekstu */


}



li a:hover{

color:rgb(22, 126, 181);
background-color: white;



}