body{

display: flex;
 margin:0;
 padding: 0;

}




.player {
  width: 100%;

  display: flex;
  justify-content:start;
  align-items: center;
  flex-direction: column;
  margin-top:100px;
  }

  
.video_player {
  width: 1100px;
  height:600px;
  margin-bottom: 15px; 
  
}




.records_container {
  display: flex;
 flex-wrap: wrap;


  justify-content: flex-start;
  width: 1100px ;
  height:440px;

overflow-y: scroll;
margin-bottom: 15px; 
margin-top: 10px;
gap: 25px;
}

.place_to_video {
  
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;


 
}


video {

  width:100%;
 
  height: 600px;
  object-fit: fill;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  
}




.video_record {
 
  flex-direction: row;
  width:350px !important; 
  box-shadow: 2px 2px 3px rgba(87, 86, 86, 0.5);
  border-top-right-radius: 13px;
  border-top-left-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  height: 200px;
  margin: 10px;
  margin-left: 0;
  margin-right: 0;
}



.place_to_icon{
  display: flex;
  flex-direction: row;
  margin-top:-10px;
  justify-content: space-between;
 }


button{




border:none;
background-color: rgba(255, 255, 255, 0);


}


        


 .material-symbols-outlined,
      
.fa-solid.fa-up-right-from-square,

 .fa-brands.fa-whatsapp,

 .fa-regular.fa-thumbs-up,

 .fa-brands.fa-facebook-messenger,

.fa-regular.fa-thumbs-down{


  font-weight:100;
  font-size:13px;
  position: inherit;

 }


 .material-symbols-outlined{

 font-size:18px !important;
 position: inherit;

 }







 .place_to_video .place_to_icon .lin i, 
 
 .place_to_video .place_to_icon .dow i, 

 .place_to_video .place_to_icon .mes i,
 
 .place_to_video .place_to_icon .what i,

 .place_to_video .place_to_icon .ups i {

  color: rgb(114, 114, 114) !important;



}



.place_to_video .place_to_icon .lin:hover i,

.place_to_video .place_to_icon .ups:hover i,

.place_to_video .place_to_icon .dow:hover i,


.place_to_video .place_to_icon .mes:hover i,

.place_to_video .place_to_icon .what:hover i{

  color: rgb(0, 0, 0) !important;
  font-weight:bold;
transform: scale(1.8);

}





.title_text_video {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  text-justify: inter-word;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 13px;
  line-height: 155%;
  margin: 0;
  font-size: 12px;
}

.paginator_video {
  display: flex;
  flex-direction: row;
  justify-content: center;

  list-style-type: none;
  margin: 0;
  padding: 0;
  color:black;  
  background-color: white !important;
}

.paginator_video  li {
  margin: 0;
  letter-spacing: 15px;
}

.paginator_video  li a {
  text-decoration: none;
  font-size:20px;
  text-align: center !important;
  color: rgb(0, 0, 0) !important; /* Dodatkowy styl - możesz zmienić na dowolny kolor tekstu */
  
  
}



li a:hover{

color:rgb(22, 126, 181);
background-color: white;



}